.Container {
  border: 5px solid #ccc;
  width: 550px;
  height: auto;
  flex-direction: column;
  background-color: #f5f9fc;
  display: flex;
  margin: auto;
  padding-bottom: 50px;
}

.LeftPadding {
  padding-left: 5px;
}

.SearchInput {
  background-image: url("Icons/search.png");
  background-position: 3px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-radius: 3px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-indent: 30px;
  width: 380px;
}

.TitleStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.FlexDisplay {
  display: flex;
  margin-bottom: 5px;
}

.Members {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
  width: 300px;
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: auto;
}

.Member {
  display: flex;
  align-items: center;
}

.MemberPadding {
  padding-right: 5px;
}

.ButtonCheckMember {
  background-color: white;
  border: none;
  width: 28px;
  height: 20px;
  justify-content: center;
  align-content: center;
}

.CyrcleIconMember {
  background-image: url("Icons/cyrcle.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 21px 21px;
}

.ButtonDeleteMember {
  background-color: #f44336;
  color: white;
  border: none;
  width: 50px;
  height: 30px;
  justify-content: center;
  margin-left: 10px;
}

.ButtonDeleteMembers {
  background-color: #f44336;
  color: white;
  border: none;
  width: 50px;
  height: 30px;
  justify-content: center;
  margin-left: 10px;
}

.AddInput {
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-indent: 5px;
  height: 20px;
  width: 295px;
  margin-right: 10px;
}

.ButtonAddMember {
  background-color: green;
  color: antiquewhite;
  border: none;
  width: 50px;
  height: 30px;
  justify-content: center;
  margin-left: 10px;
}

.CheckIconMember {
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-image: url("Icons/check.svg");
}
